html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js")
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/dracula.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    block title
    style.
      body {
        font-family: sans-serif;
        background-color: #1A1E2A;
        color: #C7C8C1;
        margin: 30px;
      }
      * {
        box-sizing: border-box;
      }
      a {
        color: #C7C8C1;
        font-weight: 700;
      }
      .gray {
        color: #aaa;
      }
      .section {
        border-top: 2px dashed #C7C8C1;
        padding-top: 10px;
        margin-top: 10px;
      }
      .inputOutput {
        display: flex;
      }
      .inputOutput > div {
        width: 50%
      }
      .inputOutput > div:nth-child(3) {
        width: 25%
      }
      .notes .title {
        margin: 10px 0;
        font-weight: 700;
      }
      code {
        padding: 10px;
        margin: 10px;
      }
  body
    block content
    <script>hljs.initHighlightingOnLoad();</script>
