extends _head.pug
block content
  h1 Ejercicio Backend
  h3 ¿Cuál es el problema?
  ol
    li Hay que reportar todos los gastos de 2018 al área de finanzas, ellos esperan una estructura específica con un resumen de los gastos y un desglose por cada cliente.
    li El API de nuestro sistema tiene un lugar donde regresar los datos de clientes y movimientos, pero solo por rangos de fechas y si trae más de cincuenta elementos contesta con un error.
    li El sistema que nos da la información está muy limitado en costos, por lo tanto es muy importante no hacer llamadas innecesarias al servicio (esto solo durante la ejecución de tu programa, mientras estás desarrollando no te limites)
  h3 ¿Qué es lo que debo hacer?
  ol
    li Obtener un listado de todos los clientes (los cuales se dieron de alta en 2017)
    li Obtener un listado de todos los movimientos generales (creados durante el 2018)
    li Generar un resumen de todos los datos generales
    li Generar un resumen por cada cliente con la suma de sus movimientos
    li Armar un solo resultado que incluya ambos resúmenes con la estructura de datos esperada
  h3 Material de apoyo
  p
    |El objetivo de este servicio es que sea lo más rápido posible y que use la mínima cantidad de llamadas al API de datos
    br
    |Genera un log de cuantas llamadas hiciste para obtener los datos y cuánto tiempo toma obtener toda la información.
  b
    |API URL 
    span.gray https://us-central1-prueba-resuelve.cloudfunctions.net
  div.section
    div
      b Endpoint 
      span.gray /users/:start/:end
      p
        |Trae un listado de los usuarios que fueron creados entre las fechas de inicio y fin
        br
        |Las fechas deben estar en formato YYYY-MM-DD
        br
        |Si hay más de 50 registros en el rango de fechas, contestará con la leyenda "Hay más de 50 elementos" y un status 406
    div
      b Method 
      span.gray GET
    br
    div.inputOutput
      div
        b Payload
        pre: code.
          request.get(
            'API_URL/users/2017-01-01/2017-01-14',
            function(error, response) {
              console.log(error, response)
            }
          )
      div
        b Response Sucess
        pre: code.
          {
            "data": {
              [
                {
                  "nombre": "Frances",
                  "apellido": "Eichmann",
                  "segundo_nombre": "",
                  "segundo_apellido": "Stark",
                  "uid": "812eea02-e741-4b01-9ff6-763d510db524",
                  "email": "Pasquale44@hotmail.com",
                  "active": false,
                  "created_at": "2017-01-04T13:42:53.778Z"
                },
                {
                  "nombre": "Roma",
                  "apellido": "Reynolds",
                  "segundo_nombre": "Laron",
                  "segundo_apellido": "",
                  "uid": "9c5c9cfc-bee6-e8ef-eba0-24e694988c36",
                  "email": "Maeve_Mertz@yahoo.com",
                  "active": false,
                  "created_at": "2017-01-05T17:53:21.565Z"
                }
              ]
            },
            "status": 200
          }
      div
        b Response Error
        pre: code.
          {
            "data": "Hay más de 50 elementos",
            "status": 406
          }
  div.section
    div
      b Endpoint 
      span.gray /movements/:start/:end
      p
        |Trae un listado de los movimientos que fueron creados entre las fechas de inicio y fin
        br
        |Las fechas deben estar en formato YYYY-MM-DD
        br
        |Si hay más de 50 registros en el rango de fechas, contestará con la leyenda "Hay más de 50 elementos" y el status 406
    div
      b Method 
      span.gray GET
    br
    div.inputOutput
      div
        b Payload
        pre: code.
          request.get(
            'API_URL/movements/2018-01-01/2018-01-01',
            function(error, response) {
              console.log(error, response)
            }
          )
      div
        b Response Sucess
        pre: code.
          {
            "data": {
              [
                {
                  "uid": "5678506d-6a4a-710d-12dc-7258fa0a4b56",
                  "account": "13b4053e-bbdf-66fd-d854-107ea544ccc8",
                  "amount": 195300,
                  "type": "credit",
                  "description": "Reenbolso",
                  "created_at": "2018-01-01T17:30:13.178Z"
                },
                {
                  "uid": "dabb5174-98b0-b99c-90ac-c1f3cc852b58",
                  "account": "83218d56-8046-045a-ca5d-e23e36e87f09",
                  "amount": 5307,
                  "type": "debit",
                  "description": "Disposición de efectivo",
                  "created_at": "2018-01-01T21:06:59.410Z"
                }
              ]
            },
            "status": 200
          }
      div
        b Response Error
        pre: code.
          {
            "data": "Hay más de 50 elementos",
            "status": 406
          }
  div.section
    div
      b Endpoint 
      span.gray /conta/resumen
      p Aquí es donde hay que mandar la respuesta con el resumen de los datos
    div
      b Method 
      span.gray POST
    br
    div.inputOutput
      div
        b Payload
        pre: code.
          request(
            {
              uri: 'API_URL/conta/resumen',
              method: 'POST',
              json: {
                // el resumen en el formato esperado
              }
            }, function(error, response) {
              console.log(error, response)
            }
          )
      div
        b Response Sucess
        pre: code.
          {
            "data": "recibido"
            "status": 200
          }
      div
        b Response Error
        pre: code.
          {
            "data": descripción_del_error,
            "status": 406
          }
    div.notes
      .title Notas:
      ul
        li Este endpoint es muy estricto en la forma en que se deben recibir los valores, el formato esperado es el siguiente:
          pre: code.
            {
              "totalRecords": "total_de_movimientos",
              "totalCredit": "suma_del_credit",
              "totalDebit": "suma_del_debit",
              "balance": "credit - debit",
              "byUser": [
                {
                  "name": "nombre_del_usuario",
                  "uid": "uid_del_usuario",
                  "records": "total_de_movimientos_del_usuario",
                  "resumen": {
                    "credit": "suma_del_credit_de_este_usuario",
                    "debit": "suma_del_debit_de_este_usuario",
                    "balance": "credit - debit"
                  }
                },
                {
                  "name": "otro_usuario",
                  "uid": "uid_del_usuario",
                  "records": "total_de_movimientos_del_usuario",
                  "resumen": {
                    "credit": "suma_del_credit_de_este_usuario",
                    "debit": "suma_del_debit_de_este_usuario",
                    "balance": "credit - debit"
                  }
                }
              ]
            }
        li Revisa la respuesta del servidor, pues te dirá si hay un error en el payload que estás mandando.
