extends _head.pug
block content
  h1 Prueba Resuelve
  p
    |Bienvenido a las pruebas para candidato Resuelve.
    br
    |Estas pruebas fueron diseñadas para evaluar la habilidad del desarrollador de frontend o backend. Cada sección tiene su propio reto pero si sabes como abstraer el problema es realmente fácil resolver los ejercicios.
    br
    |Para el ejercicio de frontend, no esperamos que seas un disegramador, pero si esperamos que tenga cierta estética (usar un framework de css es válido).
    br
    |Para el ejercico de backend, puedes usar cualquier lenguaje de programación el cual te sea más cómodo, sin embargo, debes incluir instrucciones de cómo montarlo, echarlo a andar y probarlo funcionando.
  h2 Criterios de evaluación
  p Cada prueba trae sus instrucciones propias, aparte de eso esperamos que cuente con lo siguiente:
  ol
    li Tu código debe estar en un repositorio git (github, gitlab, bitbucket)
    li Debe contener un README.md donde explique cómo montar tu servicio y cómo correrlo para revisarlo

  p Si tu código hace lo mínimo requerido está bien, pero todo lo extra que quieras agregar se evaluará y tomaremos en cuenta cosas como:
  ol
    li Limpieza de código (que no sea un batidero)
    li Comentarios (que se entienda que hace cada sección)
    li Pruebas unitarias
    li Emojis, unicornios, arcoiris, etc

  h2 Sin miedo a equivocarse
  p
    |Nosotros en Ingeniería de Resuelve no tenemos miedo a equivocarnos, lo vemos como un método de aprendizaje, recuerda que mientras aprendas, no es tiempo perdido.
    br
    |Así que no te agobies si no logras terminar toda la prueba (obvio es lo ideal xD). Mándanos tu mejor trabajo, nosotros tomaremos en cuenta todo lo que hiciste, tu forma de escribir código, tu forma de comentar, si parametrizaste la mayoria. Todo es parte de ti y nos interesa conocerlo, nadie nace sabiendo y si eres alguien adecuado nos gustaría que aprendieras con nosotros.

  p A continuación verás las dos pruebas existentes para frontend y backend. Por favor da click en la prueba que te asignaron para ver los detalles de la misma.
  ul
    li: a(href="/frontend") Ejercicio Frontend
    li: a(href="/backend") Ejercicio Backend
